<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="D2P_GrasshopperTools.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <D2P_GrasshopperTools.Properties.Settings>
            <setting name="DefaultRootLayerName" serializeAs="String">
                <value>D2P</value>
            </setting>
            <setting name="DefaultRootLayerColor" serializeAs="String">
                <value>220, 75, 58</value>
            </setting>
            <setting name="DefaultDimensionStyleName" serializeAs="String">
                <value>D2P_COMPONENTS</value>
            </setting>
            <setting name="DefaultTypeDelimiter" serializeAs="String">
                <value>:</value>
            </setting>
            <setting name="DefaultLayerDelimiter" serializeAs="String">
                <value>_</value>
            </setting>
            <setting name="DefaultNameDelimiter" serializeAs="String">
                <value>.</value>
            </setting>
            <setting name="DefaultLayerDescriptionDelimiter" serializeAs="String">
                <value>-</value>
            </setting>
            <setting name="DefaultJointDelimiter" serializeAs="String">
                <value>+</value>
            </setting>
            <setting name="DefaultLayerNameDelimiter" serializeAs="String">
                <value>:</value>
            </setting>
            <setting name="DefaultCountDelimiter" serializeAs="String">
                <value>#</value>
            </setting>
            <setting name="DefaultCloneDelimiter" serializeAs="String">
                <value>$</value>
            </setting>
        </D2P_GrasshopperTools.Properties.Settings>
    </userSettings>
</configuration>